.first-column {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .second-column {
    height: 500px;
    background: linear-gradient(
      123.55deg,
      rgba(109, 191, 157, 0.48) 0%,
      rgba(109, 191, 157, 0.14) 100%
    );
    border-radius: 30px;
  }
  
  .btn-width {
    width: 14rem;
  }
  .btn-width:hover {
    border: 2px solid #3dbb87;
  }
  .delete-account {
    cursor: pointer;
    color: #ec9898;
  }

  @media (max-width: 575px) {
    .btn-width {
      font-size: 1rem;
      width: 12rem;
      white-space: nowrap;
    }
    .user-name {
      font-size: 1.5rem;
    }
    .user-data {
      font-size: 1rem;
    }
    .second-column {
      height: 400px;
    }
  }
  @media (min-width:576px) {
    .user-name {
      font-size: 1.6rem;
    }
    .user-data {
      font-size: 1.2rem;
    }
    .second-column {
      height: 450px;
    }
  }
  @media (min-width: 768px) {
    .user-data, .newsletter-form, .delete-account {
      margin-left: 2.5rem;
    }
  }
  